<!--
COMPONENT: Cards

Repeatable card layouts that scale to fit space
-->

<section class="card">
	<div class="container">
		<div class="card-wrapper flex-wrapper">
			<div class="card-single flex-item-50 flex-item-lg-33">
				<div class="card-inner">
					<div class="card-text">
						<span class="card-eyebrow">Creative</span>
						<h3 class="card-title">Combining style with substance.</h3>
						<p class="card-text">The best digital experiences are ones that go beyond being merely functional and efficient. To draw interest with stunning visuals, provide interactive elements, and tell a compelling story is to create an experience worth revisiting.</p>
					</div>
					<div class="card-cta">
						<a href="#" class="btn btn-equal" title="View More">
							<span class="btn-text">
								<svg class="icon icon-small" alt="icon"><use xlink:href="#icon-arrow-right"></use></svg>
							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="card-single flex-item-50 flex-item-lg-33">
				<div class="card-inner">
					<div class="card-text">
						<span class="card-eyebrow">User Experience</span>
						<h3 class="card-title">Delightfully usable.</h3>
						<p class="card-text">Our user-centered approach starts with discovering the perceptions, behaviors, and goals of your customers and visitors. We blend this knowledge with both data analysis and an understanding of your business to engage users and get results.</p>
					</div>
					<div class="card-cta">
						<a href="#" class="btn btn-equal" title="View More">
							<span class="btn-text">
								<svg class="icon icon-small" alt="icon"><use xlink:href="#icon-arrow-right"></use></svg>
							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="card-single flex-item-50 flex-item-lg-33">
				<div class="card-inner">
					<div class="card-text">
						<span class="card-eyebrow">Data and Analytics</span>
						<h3 class="card-title">Guided by data.</h3>
						<p class="card-text">We make strategic, data-informed decisions that improve the performance of sites, products, and marketing efforts. Through our data collection and interpretation, we’ll show you how to better drive and convert visitors more efficiently with your marketing budget.</p>
					</div>
					<div class="card-cta">
						<a href="#" class="btn btn-equal" title="View More">
							<span class="btn-text">
								<svg class="icon icon-small" alt="icon"><use xlink:href="#icon-arrow-right"></use></svg>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
