<!--
COMPONENT: Cards

Repeatable card layouts that scale to fit space
-->

<section class="card">
	<div class="container">
		<div class="card-wrapper flex-wrapper">
			<div class="card-single flex-item-auto">
				<div class="card-inner">
					<span class="card-eyebrow">Creative</span>
					<h4 class="card-title">Combining style with substance.</h4>
					<p class="card-text">The best digital experiences are ones that go beyond being merely functional and efficient. To draw interest with stunning visuals, provide interactive elements, and tell a compelling story is to create an experience worth revisiting.</p>
					<a href="#" class="btn">N</a>
				</div>
			</div>
			<div class="card-single flex-item-auto">
				<div class="card-inner">
					<span class="card-eyebrow">Creative</span>
					<h4 class="card-title">Combining style with substance.</h4>
					<p class="card-text">The best digital experiences are ones that go beyond being merely functional and efficient. To draw interest with stunning visuals, provide interactive elements, and tell a compelling story is to create an experience worth revisiting.</p>
					<a href="#" class="btn">N</a>
				</div>
			</div>
			<div class="card-single flex-item-auto">
				<div class="card-inner">
					<span class="card-eyebrow">Creative</span>
					<h4 class="card-title">Combining style with substance.</h4>
					<p class="card-text">The best digital experiences are ones that go beyond being merely functional and efficient. To draw interest with stunning visuals, provide interactive elements, and tell a compelling story is to create an experience worth revisiting.</p>
					<a href="#" class="btn">N</a>
				</div>
			</div>
		</div>
	</div>
</section>
