<!-- COMPONENT: Hero -->
<!-- Main intro element, left contained to match comps provided but could easily be modified to go full-width -->

<section class="hero">
	<div class="container">
	<div class="hero-inner flex-wrapper">
		<div class="hero-text flex-item-50">
			<h1 class="hero-title">Front-End Development</h1>
			<p class="hero-description"><strong>Engineering with heart.</strong> From the beginning, we’ve believed that software has the power to change the world. We work with small startups and global brands alike, combining two decades of agile development practice with strategic thinking to make clients’ digital dreams a reality.</p>
			<a class="btn" href="#">Recent Work</a>
		</div>
		<div class="hero-image">
			<img src="/images/hero.jpg" alt="Laptop on coffee table">
		</div>
	</div>
	</div>
</section>
